.btn{
  border-radius: 70px;
  padding: 50px 40px;
  font-size: 100px;
  text-decoration: bold;
  margin: 20px;
  color: black;
  background-color:yellow;
  box-shadow: 2px 2px 4px 4px;
  font-weight: bold;
  
}


.btneee{
  padding: 5px 5px;
  font-size: 15px;
  text-decoration: bold;
  margin: 2px;
  color: black;
  background-color:yellow;
  
  font-weight: bold;
  
    
}


.table{
    padding: 20px 20px solid yellow;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 20px 5px;
}
    