<script type="text/javascript" src="https://js.live.net/v6.0/OneDrive.js" id="onedrive-js" client-id="APP_ID">
function launchOneDriveSaver(){
    var saverOptions = { file: "fileToUpload" /* ... */ };
    OneDrive.save(saverOptions);
  }
</script>
<script type="text/ng-template" id="main.html"> 
        <widget-row>
            <widget-cell>
                <h2>Main Page</h2>
            </widget-cell>
        </widget-row>
    	<widget-row>
            <widget-cell>
                <button class="btn btn-default" ng-click="showPreview()">
                    Load Preview
                </button>
            </widget-cell>
        </widget-row>
        <widget-row>
                <widget-cell>
                    <button class="btn btn-default" ng-click="showCourseNotes('CS241')">
                        Load Sample Course Notes
                    </button>
                </widget-cell>
        </widget-row>
</script>

<!-- Preview View --> 
<script type="text/ng-template" id="preview.html">
    <widget-row>
        <widget-cell>
            <h2> Preview Page </h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <a href="#" type="button" class="btn" onclick="launchOneDriveSaver()">Upload File</a>
            <a href="#" type="button" class="btn" onclick="function()">Download File</a>
            <input id="fileToUpload" name="fileToUpload" type="file" />
        </widget-cell>
    </widget-row>
</script>
        
<!-- Notes View -->
<script type="text/ng-template" id="notes.html">
     <widget-row>
        <widget-cell>
            <h2> CS 241 - Notes Page </h2>
        </widget-cell>
    </widget-row>
    <div class="container">
    <div class="table-reponsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Date Taken</th>
                        <th>Date Uploaded</th>
                        <th>Course Name</th>
                        <th>Uploader </th>
                        <th>File Type </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dbdata.value">
                        <td> {{item.name}}</td>
                        <td>{{item.rating}}</td>
                        <td>{{item.dateTaken}}</td>
                        <td>{{item.dateUploaded}}</td>
                        <td>{{item.courseName}}</td>
                        <td>{{item.uploader}}</td>
                        <td>{{item.fileType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu buttons
        </a>
    </li>
</script>