<script type="text/ng-template" id="main.html"> 
        <widget-row>
            <widget-cell class="main">
                <h2 class="main">Main Page</h2>
            </widget-cell>
        </widget-row>
    	<widget-row>
            <widget-cell>
                <button class="btn" ng-click="showPreview()">
                    Load Preview
                </button>
            </widget-cell>
        </widget-row>
        <widget-row ng-repeat= "item in userCourses">
                <widget-cell>
                    <button class="btn" ng-click="showCourseNotes(item.subject_code, item.catalog)">
                        {{ item.subject_code }} {{ item.catalog }}
                    </button>
                </widget-cell>
        </widget-row>
        
</script>

<!-- Preview View --> 
<script type="text/ng-template" id="preview.html">
    <widget-row>
        <widget-cell class="btn">
            <h2> Preview Page </h2>
        </widget-cell>
    </widget-row>
    <widget-row>
        <widget-cell>
            <a href="#" type="button" class="btn" onclick="launchOneDriveSaver()">Upload File</a>
            <a href="#" type="button" class="btn" onclick="function()">Download File</a>
            <input id="fileToUpload" name="fileToUpload" type="file" />
        </widget-cell>
    </widget-row>
</script>
        
<!-- Notes View -->
<script type="text/ng-template" id="notes.html">
     <widget-row>
        <widget-cell>
            <h2> {{ item.courseName }} - Notes Page </h2>
        </widget-cell>
    </widget-row>
    <div class="container">
    <div class="table-reponsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Date Taken</th>
                        <th>Date Uploaded</th>
                        <th>Course Name</th>
                        <th>Uploader </th>
                        <th>File Type </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in dbdata.value">
                        <td> {{item.name}}</td>
                        <td>{{item.rating}}</td>   
                        <td>{{item.dateTaken  | momentDate : "MMM Do YY"}}</td>
                        <td>{{item.dateUploaded  | momentDate : "MMM Do YY"}}</td>
                        <td>{{item.courseName}}</td>
                        <td>{{item.uploader}}</td>
                        <td>{{item.fileType}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
</div>
</script>

<!-- Menu template -->
<script type="text/ng-template" id="widgetMenu.html">
    <li>
        <a>
            Menu buttons
        </a>
    </li>
</script>



